.pocketrag-container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    
    -webkit-app-region: no-drag;
    /* box-shadow: 0 2px 12px rgba(0,0,0,0.18); */
    /* background: #333333; */
    padding: 24px 32px;
}

.icon-container {
    height: 90%;
    width: 125px;
    background-color: #555555;
    margin-bottom: 16px;
}

.version-container {
    height: 10%;
    width: 100%;
    color: #fff;
    /* background-color: transparent; */
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
}