.rightscreen-container{
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    background-color: #aeaeae;
    color: white;
    overflow: hidden;
    min-height: 0;
    /* border: 2px solid red; */
    box-sizing: border-box;
}
.rightscreen-main{
    flex: 1 1 0%;
    background-color: #aeaeae;
    color: white;
    overflow-y: auto;
    min-height: 0;
    /* border: 2px solid red; */
    box-sizing: border-box;
    -webkit-app-region: no-drag;
}
.closebar-container{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}
