[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "kernel/external/sentencepiece"]
	path = kernel/external/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "kernel/external/cppjieba"]
	path = kernel/external/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
[submodule "kernel/external/faiss"]
	path = kernel/external/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "cmark-gfm"]
	path = cmark-gfm
	url = https://github.com/github/cmark-gfm.git
[submodule "kernel/external/cmark-gfm"]
	path = kernel/external/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
