[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "kernel/external/sentencepiece"]
	path = kernel/external/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "kernel/external/cppjieba"]
	path = kernel/external/cppjieba
	url = https://github.com/yanyiwu/cppjieba.git
