.Min_Max_Close-container{
    margin-left: auto;
    height: 50px;
    width: 150px;
    display: flex;
}
.minbutton{
    height: 50px;
    width: 50px;
}
.maxbutton{
    height: 50px;
    width: 50px;
}
.closebutton{
    height: 50px;
    width: 50px;
}