.Min_Max_Close-container{
    margin-left: auto;
    height: 50px;
    width: 150px;
    display: flex;
}
.minbutton{
    height: 30px;
    width: 50px;
    color: white;
    background-color: rgb(60,160,130);
}
.maxbutton{
    height: 30px;
    width: 50px;
    color: white;
    background-color: rgb(60,160,130);
}
.closebutton{
    height: 30px;
    width: 50px;
    color: white;
    background-color: rgb(60,160,130);
}