.top-button-container_0{
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}
.minimize_0{
    height: 100%;
    flex: 1;
    background-color: rgb(60,160,130);
    color: white;
}
.close_0{
    height: 100%;
    flex: 1;
    background-color: rgb(60,160,130);
    color :white;
}