.option-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: grey;
    -webkit-app-region: no-drag;
}
.new-container{
    height: 30%;
    display: flex;
}
.other-container{
    height: 30%;
    display: flex;
}
.new-button{
    margin-left: auto;
    background-color: rgb(60, 160, 130);
    color: white;
    -webkit-app-region: no-drag;
}
.other-button{
    margin-left: auto;
    background-color: rgb(60, 160, 130);
    color: white;
    -webkit-app-region: no-drag;
}
.new-description{
    flex-grow: 1;
}
.other-description{
    flex-grow: 1;
}