.option-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: grey;
}
.new-container{
    height: 30%;
    display: flex;
}
.open-container{
    height: 30%;
    display: flex;
}
.other-container{
    height: 30%;
    display: flex;
}
.new-button{
    margin-left: auto;
}
.open-button{
    margin-left: auto;
}
.other-button{
    margin-left: auto;
}
.new-description{
    flex-grow: 1;
}
.open-description{
    flex-grow: 1;
}
.other-description{
    flex-grow: 1;
}