.LeftBar-container{
    flex-basis: 50px;
    display: flex;
    flex-direction: column; 
    background-color: grey;
}
.leftbar{
    display: flex;
    flex-direction: column;
}
.lb-button1{
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(60,160,130);
}
.lb-button2{
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(60,160,130);
}
.lb-button3{
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(60,160,130);
}