.settingswindow-container {
    flex: 1 1 0%;
    display: flex;
    background-color: #222222;
    color: #fff;
    overflow: hidden;
    min-height: 0;
    -webkit-app-region: drag;
}

.settingswindow-main {
    flex: 1 1 0%;
    display: flex;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    height: 100vh;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

::-webkit-scrollbar-corner {
    background: #333333;
}