.rightscreen-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    -webkit-app-region: no-drag;
}
.rightscreen-header{
    display: flex;
    height: 35px;
    width: 100%;
    -webkit-app-region: drag;
}
.rightscreen-close-button-container{
    margin-right: 1px;
    margin-left: auto;
    width: 35px;
    height: 35px;
    -webkit-app-region: no-drag;
}
