.startwindow-container {
    flex: 1 1 0%;
    min-height: 0;
    height: 100vh;
    background: #111111;
    -webkit-app-region: drag;
}

.sw-left {
    background-color: #333333;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sw-right {
    background-color: #222222;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.repolist-container {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-app-region: no-drag;
    margin-top: 35px;
}

.repolist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
.repo-item-container{
    flex: 1;
    display: flex;
}

.repo-item {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box;
    /* background-color: #444444; */
    margin-bottom: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.repo-item:hover {
    background-color: #555555;
}

/* .repo-item.selected {
    background-color: #00b0b0;
    color: #ffffff;
} */

.repo-item-info {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.repo-name {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.repo-path {
    font-size: 12px;
    color: darkgrey;
    margin-top: 4px;
}

.repo-delete-container {
    width: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}
.repo-delete{
    background: none;
}

.repo-delete-container:hover {
    opacity: 1;
}

.sw-resize {
    width: 0px;
    background-color: #555555;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

::-webkit-scrollbar-corner {
    background: #333333;
}