.top-container{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.top-button-container{
    height: 100%;
    width: 100px;
    margin-left: auto;
}
.minimize_0{
    height: 100%;
    width: 50%;
    background-color: rgb(60,160,130);
    color: white;
}
.close_0{
    height: 100%;
    width: 50%;
    background-color: rgb(60,160,130);
    color :white;
}