.option-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #777777;
    -webkit-app-region: no-drag;
    box-shadow: 0 2px 12px rgba(0,0,0,0.18);
    /* border-radius: 12px; */
    /* margin-bottom: 10px; */
    padding: 24px 24px;
    width: 95%;
    max-width: 700px;
    align-self: center;
}
.new-container,
.other-container {
    min-height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #555555;
    box-shadow: 0 1px 4px rgba(0,0,0,0.10);
    padding: 12px 18px;
}

/* 去除最后一个的 margin-bottom */
.option-container > .other-container:last-child,
.option-container > .new-container:last-child {
    margin-bottom: 0;
}
.new-description,
.other-description {
    flex-grow: 1;
    color: #fff;
    font-size: 16px;
}