.LeftBar-container{
    flex-basis: 50px;
    display: flex;
    flex-direction: column; 
    background-color: rgb(64, 3, 230);
}
.leftbar{
    display: flex;
    flex-direction: column;
}
.button1{
    width: 100%;
    height: 50px;
}
.button2{
    width: 100%;
    height: 50px;
}
.button3{
    width: 100%;
    height: 50px;
}